<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.sch.SchoolClassMapper" >
  <resultMap id="BaseResultMap" type="com.model.sch.SchoolClass" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="shool_class_code" property="shoolClassCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, class_name, memo, score, shool_class_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from school_class
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from school_class
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.sch.SchoolClass" >
    insert into school_class (id, class_name, memo, 
      score, shool_class_code)
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{shoolClassCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.sch.SchoolClass" >
    insert into school_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="shoolClassCode != null" >
        shool_class_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="shoolClassCode != null" >
        #{shoolClassCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.sch.SchoolClass" >
    update school_class
    <set >
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="shoolClassCode != null" >
        shool_class_code = #{shoolClassCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.sch.SchoolClass" >
    update school_class
    set class_name = #{className,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      shool_class_code = #{shoolClassCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>