<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeedMapper">

 

	<delete id="deleteByResourceId" parameterType="string">

		delete from 
		feed  
 
		where
		resource_id=#{resource_id}
	</delete>
 
 <update id="updateLogicDelByResourceId" parameterType="string">
 
 update feed set is_del=1 where 	resource_id=#{resource_id}
 </update>
 
 
</mapper>