<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaipin.university.repository.dao.user.ISchoolUserInfoDao" >
  <resultMap id="BaseResultMap" type="com.kaipin.university.model.user.SchoolUserInfo" >
     <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="surname" property="surname" jdbcType="VARCHAR" />
    <result column="miss_surname" property="missSurname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="last_updated_time" property="lastUpdatedTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, school_id, surname, miss_surname, sex, position, age, head_url, create_time, 
    last_updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from school_user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from school_user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kaipin.university.model.user.SchoolUserInfo" >
    insert into school_user_info (id, school_id, surname, 
      miss_surname, sex, position, 
      age, head_url, create_time, 
      last_updated_time)
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{surname,jdbcType=VARCHAR}, 
      #{missSurname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{position,jdbcType=VARCHAR}, 
      #{age,jdbcType=TINYINT}, #{headUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{lastUpdatedTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.kaipin.university.model.user.SchoolUserInfo" >
    insert into school_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="surname != null" >
        surname,
      </if>
      <if test="missSurname != null" >
        miss_surname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="headUrl != null" >
        head_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="surname != null" >
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="missSurname != null" >
        #{missSurname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
      <if test="headUrl != null" >
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdatedTime != null" >
        #{lastUpdatedTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaipin.university.model.user.SchoolUserInfo" >
    update school_user_info
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="surname != null" >
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="missSurname != null" >
        miss_surname = #{missSurname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time = #{lastUpdatedTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaipin.university.model.user.SchoolUserInfo" >
    update school_user_info
    set school_id = #{schoolId,jdbcType=VARCHAR},
      surname = #{surname,jdbcType=VARCHAR},
      miss_surname = #{missSurname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      position = #{position,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      head_url = #{headUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      last_updated_time = #{lastUpdatedTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>